<p id="notice"><%= notice %></p>

<p>
  <strong>Toggl api:</strong>
  <%= @http_connection.toggl_api %>
</p>

<p>
  <strong>Clockify api:</strong>
  <%= @http_connection.clockify_api %>
</p>

<p>
  <strong>Harvest harvest_personal_access_token:</strong>
  <%= @http_connection.harvest_personal_access_token %>
</p>

<p>
  <strong>Harvest harvest_account_id:</strong>
  <%= @http_connection.harvest_account_id %>
</p>


<%= link_to 'Edit', edit_http_connection_path(@http_connection) %> |
<%= link_to 'Back', http_connections_path %>
